SECRET_KEY=^t74!xx0e!x*fq(bu3ypj)^%^al2n#+&vif1cqg_(me_fq(pb%

# MySQL
DATABASE_URL=mysql://mysiteuser:mysiteuserp@S5@localhost:3306/mysite?charset=utf8mb4&sql_mode=TRADITIONAL,NO_AUTO_VALUE_ON_ZERO
# PostgreSQL
#DATABASE_URL=postgresql://mysiteuser:mysiteuserp@S5@localhost:5432/mysite
# SQLite
#DATABASE_URL=sqlite:///db.sqlite3

ALLOWED_HOSTS=178.128.11.11

EMAIL_URL=smtp+tls://<user>:<password>@smtp.sendgrid.net:587

STRIPE_API_KEY=sk_test_XXXXX
STRIPE_PUBLISHABLE_KEY=pk_test_XXXXX
